WithoutBG/Resources/wbgnet_oss.mlpackage/Data/com.apple.CoreML/weights/weight.bin filter=lfs diff=lfs merge=lfs -text
WithoutBG/Resources/wbgnet_oss_fp16.mlpackage/Data/com.apple.CoreML/weights/weight.bin filter=lfs diff=lfs merge=lfs -text
WithoutBG/Resources/wbgnet_oss_fp32.mlpackage/Data/com.apple.CoreML/weights/weight.bin filter=lfs diff=lfs merge=lfs -text
